$space-large: 2.5rem;
$title-color: #555;
$border-focus-color: #1583CC;

.page-title {
    color: $title-color;
    margin-top: $space-large;
    margin-bottom: $space-large;
}

input[type=search]:focus {
    border: 1px solid $border-focus-color;
}